.chat-main
  .chat-main__group-info
    .chat-main__group-info--name
      %p.name general
      %p.member Member: 平野 雅一
    .chat-main__group-info--edit
      =link_to "#" do
        .edit
          %p Edit

  .chat-main__message-list
    .contents
      = render @messages

  .chat-main__message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'Type a Message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'