.side_bar
  .side_bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %p.top-items__icons
        = link_to new_group_path, class: "top-items__icons--btn-edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "top-items__icons--btn-setting" do
          = icon('fas', 'cog')

  .side_bar__group-list
    .group
      %p.group__name
        general
      %p.group__message
        まだメッセージがありません。